input.invalid.touched,
select.invalid.touched{
    border: 1px solid red;
    box-shadow: inset 0 0 13 ;
}
.top{
    margin-top: 6rem;
}
.left{
    margin-left: 1rem;
}

.header{
    margin-top: 3rem; 
    text-align: 
    center; 
    color: #4005f2; 
    font-size: xx-large;
}
.center{
    text-align: center;
  }
  .size{
    width: 23rem;
  }
  .button-bg{
    background-color: #4005f2;
    color: #fff;
  }
  .link{
    color: #4005f2;
  }