<app-sidebar></app-sidebar>


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-head-box">
                    <h3>Standard Relief</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Standard Relief</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="add-emp-section">
                    <a id="add-standardR-btn" class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_standardrelief"
                        style="width: auto;"><i class="fas fa-plus"></i> Add Standard Relief</a>
                </div>
            </div>
        </div>
        <dx-data-grid
        id="gridContainer"
        [dataSource]="standardreliefData"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        (onContentReady)="contentReady($event)"
        (onExporting)="onExporting($event)"
  
      >
  
       <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxi-column dataField="Action" [width]="100" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="standardreliefData"></dxi-column>
        <div *dxTemplate="let data of 'standardreliefData'">
  
          <a data-bs-toggle="modal" data-bs-target="#edit_standardrelief">
            <i class="fas fa-edit editbtn"
               (click)="editstandardrelief(data)"></i></a>
          &nbsp;&nbsp;&nbsp;
          <a href="#" data-bs-toggle="modal" data-bs-target="#delete_standardrelief">
            <i class="fa fa-times deleteBtn"
               aria-hidden="true" (click)="deleteData(data.data.fiscalYear)"></i></a>
        </div>
        <dxi-column type="button"[width]="110">
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
        </dxi-column>
  
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 25, 50, 100]"
        ></dxo-pager>
        <dxo-search-panel
          [visible]="true"
          [highlightCaseSensitive]="true"
        ></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-export
          [enabled]="true"
          [formats]="['Excel']"
          [allowExportSelectedData]="true"
        >

        <dxo-filter-row [visible] = "true"></dxo-filter-row>
          <dxi-column [allowFiltering] = "false"></dxi-column>
          
        </dxo-export>
        <dxi-column dataField="fiscalYear" dataType="string">Fiscal Year</dxi-column>
        <dxi-column dataField="minimumTaxAmount" dataType="string">Minimum Tax</dxi-column>
        <dxi-column dataField="reliefRate" dataType="string">Relief Rate(%)</dxi-column>
        <dxi-column dataField="personalAllowance" dataType="string">Personal Allowance</dxi-column>
        <dxi-column dataField="childAllowance" dataType="string">Child Allowance</dxi-column>
        <dxi-column dataField="dependentAmount" dataType="string">Dependent Allowance</dxi-column>

      </dx-data-grid>

        <!-- Add StandardRelief Modal -->
        <div id="add_standardrelief" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal-lg">
                    <div class="modal-header modal-lg">
                        <h5 class="modal-title">Add Standard Relief</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times" #closeBtn></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="standardreliefForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label>Fiscal Year <span class="text-danger">*</span></label>
                                                <input class="form-control" formControlName="fiscalYear" type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('fiscalYear')?.invalid &&
                                                      (standardreliefForm.get('fiscalYear')?.dirty || standardreliefForm.get('fiscalYear')?.touched)}">
                                                <div class="invalid-feedback">
                                                    This field is required.
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Minimum Tax Rate(%)</label>
                                                <input class="form-control" formControlName="disabilityAllowance"
                                                    type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('disabilityAllowance')?.invalid &&
                                                      (standardreliefForm.get('disabilityAllowance')?.dirty || standardreliefForm.get('disabilityAllowance')?.touched)}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label>Apply Relief Before Allowance</label>
                                                <input class="form-control" formControlName="allStaffRelief" type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('allStaffRelief')?.invalid &&
                                                      (standardreliefForm.get('allStaffRelief')?.dirty || standardreliefForm.get('allStaffRelief')?.touched)}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Relief Rate(%)<span class="text-danger">*</span></label>
                                                <input class="form-control" formControlName="reliefRate" type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('reliefRate')?.invalid &&
                                                      (standardreliefForm.get('reliefRate')?.dirty || standardreliefForm.get('reliefRate')?.touched)}">
                                                <div class="invalid-feedback">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label>Personal Allowance</label>
                                                <input class="form-control" formControlName="personalAllowance"
                                                    type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('personalAllowance')?.invalid &&
                                                      (standardreliefForm.get('personalAllowance')?.dirty || standardreliefForm.get('personalAllowance')?.touched)}">

                                            </div>
                                            <div class="col-sm-6">
                                                <label>Child Allowance </label>
                                                <input class="form-control" formControlName="childAllowance" type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('childAllowance')?.invalid &&
                                                      (standardreliefForm.get('childAllowance')?.dirty || standardreliefForm.get('childAllowance')?.touched)}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label>Dependent Allowance</label>
                                                <input class="form-control" formControlName="dependentAllowance"
                                                    type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('dependentAllowance')?.invalid &&
                                          (standardreliefForm.get('dependentAllowance')?.dirty || standardreliefForm.get('dependentAllowance')?.touched)}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label>% of Taxable Gross In Comparison With <br> Personal
                                                    Allowance</label>
                                                <input class="form-control" formControlName="taxGrossPercent"
                                                    type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('taxGrossPercent')?.invalid &&
                                          (standardreliefForm.get('taxGrossPercent')?.dirty || standardreliefForm.get('taxGrossPercent')?.touched)}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label>Minimum Taxable Amount For Tax Table <br> Before Considering
                                                    Minimum Tax
                                                    Rate</label>
                                                <input class="form-control" formControlName="minimumTaxAmount"
                                                    type="text"
                                                    [ngClass]="{'form-control': true, 'is-invalid': standardreliefForm.get('minimumTaxAmount')?.invalid &&
                                          (standardreliefForm.get('minimumTaxAmount')?.dirty || standardreliefForm.get('minimumTaxAmount')?.touched)}">

                                            </div>
                                        </div>
                                        <div class="submit-section">
                                            <button class="btn btn-danger cancel-btn" data-bs-dismiss="modal"
                                                aria-label="Close">Cancel</button>
                                            <button class="btn btn-success submit-btn" data-bs-dismiss="modal"
                                                aria-label (click)="Add()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Add standardrelief Modal -->

<!-- Edit standardrelief Modal -->
<div id="edit_standardrelief" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header modal-lg">
                <h5 class="modal-title">Edit Standard Relief</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times" #closeupdatebtn></i>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="standardreliefForm">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Fiscal Year<span class="text-danger">*</span></label>
                                        <input class="form-control" formControlName="fiscalYear" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Minimum Tax Rate(%)</label>
                                        <input class="form-control" formControlName="disabilityAllowance" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Apply Relief Before Allowance</label>
                                        <input class="form-control" formControlName="allStaffRelief" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Relief Rate<span class="text-danger">*</span></label>
                                        <input class="form-control" formControlName="reliefRate" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Personal Allowance</label>
                                        <input class="form-control" formControlName="personalAllowance" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Child Allowance</label>
                                        <input class="form-control" formControlName="childAllowance" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <br>
                                        <label>Dependent Allowance</label>
                                        <input class="form-control" formControlName="dependentAllowance" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Minimum Taxable Amount For Tax Table Before Considering Minimum Tax
                                            Rate</label>
                                        <input class="form-control" formControlName="minimumTaxAmount" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>% of Taxable Gross In Comparison With Personal Allowance</label>
                                        <input class="form-control" formControlName="taxGrossPercent" type="text">
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel
                                    </button>
                                    <button class="btn btn-primary submit-btn" (click)="Update()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit standard relief Modal -->

<!-- Delete standard relief Modal -->
<div class="modal custom-modal fade" id="delete_standardrelief" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Standard Relief</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" #closedeletebtn></i>
                    </button>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn"
                                (click)="Delete(standardreliefData.fiscalYear)">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete standard relief Modal -->