/* Validation */
input.invalid.touched,
select.invalid.touched{
    border: 1px solid red;
    box-shadow: inset 0 0 13 ;
}

.mat-form-field {
    margin-right: 12px;
  }

  
  #add-mar-btn {
    color: white;
    background-color:#482fe9;
}
