<app-sidebar></app-sidebar>

<div class="page-wrapper">

  <!-- Page Content -->
  <div class="content container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="page-head-box">
          <h3>Loan</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Loan</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- -- /Page Header  -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-md-8"></div>
      <div class="col-md-4"></div>
        <div class="add-emp-section">
          <a id="add-loan-btn" class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_loan"
             style="width: auto;"><i class="fas fa-plus"></i> Add
            Loan</a>
        </div>
      </div>
    </div>
    <hr>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="loanData"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      (onContentReady)="contentReady($event)"
      (onExporting)="onExporting($event)"

    >
    <dxo-editing  mode="row"
        [allowAdding] = "true"
        [allowDeleting]="true"
        [useIcons]="true"
        [allowUpdating] = "true"></dxo-editing>

          <dxo-filter-row [visible] = "true"></dxo-filter-row>
          <dxi-column [allowFiltering] = "false"></dxi-column>

     <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxi-column dataField="Action" [width]="100" [allowFiltering]="false" [allowSorting]="false"
                  cellTemplate="loanData"></dxi-column>
      <div *dxTemplate="let data of 'loanData'">

        <a data-bs-toggle="modal" data-bs-target="#edit_loan">
          <i class="fas fa-edit editbtn"
             (click)="editLoan(data)"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="#" data-bs-toggle="modal" data-bs-target="#delete_designation">
          <i class="fa fa-times deleteBtn"
             aria-hidden="true" (click)="deleteData(data.data.loanTypeId)"></i></a>
      </div>
      <dxi-column type="button"[width]="110">
        <dxi-button name="edit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
      </dxi-column>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
      ></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxo-export
        [enabled]="true"
        [formats]="['Excel']"
        [allowExportSelectedData]="true"
      >
      </dxo-export>



      <dxi-column dataField="loanTypeId" dataType="string">Loan Type Id</dxi-column>
      <dxi-column dataField="description" dataType="string">Description</dxi-column>

      <dxi-column dataField="interestRate" dataType="string">Interest Rate</dxi-column>
      <dxi-column dataField="interestTypeId" dataType="string">Interest Type Id</dxi-column>
      <dxi-column dataField="glaccountNumber" dataType="string">Glaccount Number</dxi-column>
    </dx-data-grid>

    <!--    <Add Loan Modal-->
    <div id="add_loan" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Loan</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fas fa-times" #closeBtn></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="loanForm">
              <div class="form-group">
                <label>Loan Type Id <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="loanTypeId" type="text"
                       [ngClass]="{'form-control': true, 'is-invalid': loanForm.get('loanTypeId')?.invalid &&
                            (loanForm.get('loanTypeId')?.dirty || loanForm.get('loanTypeId')?.touched)}">
                <div class="invalid-feedback">
                  This field is required.
                </div>
              </div>

              <div class="form-group">
                <label>Description <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="description" type="text"
                       [ngClass]="{'form-control': true, 'is-invalid': loanForm.get('description')?.invalid &&
                            (loanForm.get('description')?.dirty || loanForm.get('description')?.touched)}">
                <div class="invalid-feedback">
                  This field is required.
                </div>
              </div>
              <div class="form-group">
                <label>Interest Rate <span class="text-danger">*</span></label>
                <input class="form-control"
                       formControlName="interestRate"
                       type="text"
                       [ngClass] = "{'form-control': true, 'is-invalid': loanForm.get('interestRate')?.invalid &&
                            (loanForm.get('interestRate')?.dirty || loanForm.get('interestRate')?.touched)} " >
                <div class="invalid-feedback ">This field is required and only takes number</div>
              </div>

              <div>
                <div class="form-group">
                  <label>Interest Type</label> -->

                  <select name="interest" id="interest" class="form-control" formControlName="interestTypeId">
                    <option *ngFor = "let interest of interestTypIdData"
                            [selected]="interest"
                            [value]="interest">
                      {{interest}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>GL Account </label>
                  <select name="account" id="account" class="form-control" formControlName="glaccountNumber">
                    <option *ngFor = "let account of glaccountNumberData"
                            [selected]="account"
                            [value]="account">
                      {{account}}
                    </option>
                  </select>
                  <div class="submit-section">
                    <button class="btn btn-danger cancel-btn" data-bs-dismiss="modal"
                            aria-label="Close">Cancel</button>
                    <button class="btn btn-success submit-btn" (click)="Add()">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div id="edit_loan" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Loan</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times" #closeupdatebtn></i>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loanForm">

            <div class="form-group">
              <label>Loan Type ID <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="loanTypeId" type="text">

            </div>
            <div class="form-group">
              <label>Description <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="description" type="text">
            </div>

            <div class="form-group">
              <label>Interest Rate<span class="text-danger">*</span></label>
              <input class="form-control" formControlName="intrestRate" type="text">
            </div>

            <div class="form-group">
              <label>Interest Type ID <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="interestTypeId" type="text">
            </div>

            <div class="form-group">
              <label>GL Account </label>
              <select name="account" id="accounts" class="form-control" formControlName="glaccountNumber">
                <option *ngFor = "let account of glaccountNumberData"
                        [selected]="account"
                        [value]="account">
                  {{account}}
                </option>
              </select>

<!--            <div class="form-group">-->
<!--              <label>GLaccount Number <span class="text-danger">*</span></label>-->
<!--              <input class="form-control" formControlName="glaccountNumber" type="text">-->
<!--            </div>-->
            <div class="submit-section">
              <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal"
                      aria-label="Close">Cancel</button>

              <button class="btn btn-success btn-add-emp" (click)="Update()">Update</button>

            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  </div>
<!--</div>-->
