/* .bottom-button{
    margin-bottom: 2rem;
}
.top{
    margin-top:5rem ;
}
.header{
    margin-top: 3rem; text-align: center; color: #4005f2;
}

.center{
    text-align: center;
}
.button-bg{
    background-color: #4005f2;
    color: white;
} */