<div class="container  top card" style="width: 30rem;">
    <div class="left-reg">
    <form>
        <div class="row g-3 align-items-center left-reg">
            <h5 class="header-reg"> Forgot Password</h5>

            <div class="col-auto">
                <label for="email" class="col-form-label">Email Address</label>
            </div>
            <div>
                <input  type="email" class="form-control center-reg size-reg"  required>
            </div>
            <br>
            <div class="bottom-button-reg">
    
                <button class="btn button-bg-reg" type="submit" >Forgot Password</button>
            </div>
        </div>

        


    </form>
    </div>  
</div>