<app-sidebar></app-sidebar>


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-head-box">
                    <h3>Institution</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Institution</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="add-emp-section">
                    <a id="add-ins-btn" class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_designation"
                        style="width: auto;"><i class="fas fa-plus"></i> Add
                        Institution</a>
                </div>
            </div>
        </div>
      
        <hr>
        <!-- /Search Filter -->
        <dx-data-grid
        id="gridContainer"
        [dataSource]="institutionData"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        (onContentReady)="contentReady($event)"
        (onExporting)="onExporting($event)"
  
      >
  <!--      <dxo-filter-row [visible]="true"></dxo-filter-row>-->
       <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxi-column dataField="Action" [width]="100" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="institutionData"></dxi-column>
        <div *dxTemplate="let data of 'institutionData'">
  
          <a data-bs-toggle="modal" data-bs-target="#edit_QualificationType">
            <i class="fas fa-edit editbtn"
               (click)="editInstitution(data)"></i></a>
          &nbsp;&nbsp;&nbsp;
          <a href="#" data-bs-toggle="modal" data-bs-target="#delete_QualificationType">
            <i class="fa fa-times deleteBtn"
               aria-hidden="true" (click)="deleteData(data.data)"></i></a>
        </div>

        <dxo-editing  mode="row"
        [allowAdding] = "true"
        [allowDeleting]="true"
        [useIcons]="true"
        [allowUpdating] = "true"></dxo-editing>
  
        <dxo-filter-row [visible] = "true"></dxo-filter-row>
          <dxi-column [allowFiltering] = "false"></dxi-column>
          
        <dxi-column type="button"[width]="110">
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
        </dxi-column>
  
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 25, 50, 100]"
        ></dxo-pager>
        <dxo-search-panel
          [visible]="true"
          [highlightCaseSensitive]="true"
        ></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-export
          [enabled]="true"
          [formats]="['Excel']"
          [allowExportSelectedData]="true"
        >
        </dxo-export>
  
  
  
        <dxi-column dataField="institutionId" dataType="string"></dxi-column>
        <dxi-column dataField="institutionDescription" dataType="string"></dxi-column>
        <dxi-column dataField="companyId" dataType="string"></dxi-column>
        <dxi-column dataField="divisionId" dataType="string"></dxi-column>
        <dxi-column dataField="departmentId" dataType="string"></dxi-column>
        
  
  
  
  
  
      </dx-data-grid>
        <!-- Add QualificationType Modal -->
        <div id="add_designation" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Institution</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times" #closeBtn></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="InstitutionForm" >
                            <div class="form-group">
                                <label>Institution ID<span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="institutionId"  type="text"
                                    [ngClass]="{'form-control': true, 'is-invalid': InstitutionForm.get('institutionId')?.invalid &&
                            (InstitutionForm.get('institutionId')?.dirty || InstitutionForm.get('institutionId')?.touched)}">
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label> institution Description <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="institutionDescription" type="text"
                                    [ngClass]="{'form-control': true, 'is-invalid': InstitutionForm.get('institutionDescription')?.invalid &&
                            (InstitutionForm.get('institutionDescription')?.dirty || InstitutionForm.get('institutionDescription')?.touched)}">
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Company Id  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="companyId" type="text"
                                    [ngClass]="{'form-control': true, 'is-invalid': InstitutionForm.get('companyId')?.invalid &&
                            (InstitutionForm.get('companyId')?.dirty || InstitutionForm.get('companyId')?.touched)}">
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div> <div class="form-group">
                                <label> Division Id  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="divisionId" type="text"
                                    [ngClass]="{'form-control': true, 'is-invalid': InstitutionForm.get('divisionId')?.invalid &&
                            (InstitutionForm.get('divisionId')?.dirty || InstitutionForm.get('divisionId')?.touched)}">
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div> <div class="form-group">
                                <label> Department Id  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="departmentId" type="text"
                                    [ngClass]="{'form-control': true, 'is-invalid': InstitutionForm.get('departmentId')?.invalid &&
                            (InstitutionForm.get('departmentId')?.dirty || InstitutionForm.get('departmentId')?.touched)}">
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                           
<!--                             
                                <input class="form-control" formControlName="description" type="text"
                                
                                    [ngClass]="{'form-control': true, 'is-invalid': QualificationTypeForm.get('description')?.invalid &&
                            (QualificationTypeForm.get('description')?.dirty || QualificationTypeForm.get('description')?.touched)}"> -->
                              
                            <div class="submit-section">
                                <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal"
                                    aria-label="Close">Cancel</button>
                                    <button class="btn btn-success btn-add-emp" (click)="Add()">Submit</button>                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add qualification Modal -->


        <!-- Edit qualification Modal -->
        <div id="edit_QualificationType" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Institution</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times" #closeupdatebtn></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="InstitutionForm">

                            <div class="form-group">
                                <label>Institution ID<span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="institutionId" type="text">

                            </div>
                            <div class="form-group">
                                <label>Institution Description  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="institutionDescription" type="text">
                            </div>
                            <div class="form-group">
                                <label>Company ID  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="companyId" type="text">
                            </div>
                            <div class="form-group">
                                <label>Division ID  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="divisionId" type="text">
                            </div>
                            <div class="form-group">
                                <label>Department ID  <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="departmentId" type="text">
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal"
                                    aria-label="Close">Cancel</button>

                                <button class="btn btn-success btn-add-emp" (click)="Update()">Update</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit qualification Modal -->


        <!-- Delete qualification Modal -->
        <div class="modal custom-modal fade" id="delete_designation" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Category</h3>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times" #closedeletebtn></i>
                            </button>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">

                                    <a class="btn btn-primary continue-btn"
                                        (click)="Delete(institutionData.categoryId)">Delete</a>


                                </div>
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-bs-dismiss="modal"
                                        class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Location Modal -->

    </div>